.circle-media{
    background-color: whitesmoke;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    padding: 2px;
    margin: 2px;
    display: inline-block;
}
.circle-media > i{
    font-size: small;
    margin: auto;
    text-align: center;
}

p{
    margin-bottom: 0!important;
}